[{sasl,[{errlog_type,error}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {tasktracker_spa,
     [{ecto_repos,['Elixir.TasktrackerSpa.Repo']},
      {'Elixir.TasktrackerSpaWeb.Endpoint',
          [{render_errors,
               [{view,'Elixir.TasktrackerSpaWeb.ErrorView'},
                {accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.TasktrackerSpa.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {load_from_system_env,true},
           {url,[{host,<<"example.com">>},{port,80}]},
           {cache_static_manifest,<<"priv/static/cache_manifest.json">>},
           {server,true},
           {secret_key_base,
               <<"KGn57frYDgxSpnTl9rCMaDP9WMW3R228thkwoDGzsglscbGdWtmWGjHb42SQ2EhJ">>}]},
      {'Elixir.TasktrackerSpa.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"postgres">>},
           {password,<<"postgres">>},
           {database,<<"tasktracker_spa_prod">>},
           {pool_size,15}]}]}].
